@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #1a73e8;
}
